header {
    background-color: white;
    margin: 0;
    align-items: center;
    padding: 25px;

}

body {
    margin: 0;
}


.title {
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 80px;
    color: #fff;

}

.page-section {
    text-align: center;
    height: fit-content;
    background: no-repeat center;
    background-size: cover;
}

.suwon {
    background-image: url(img/suwon_b.jpg);
    background-size: contain;
    background-position: center;



}


.klogo {
    width: 170px;
    height: 40px;
}

.teamlogo {
    padding-left: 20px;
    float: right;
    width: 60px;
    height: 50px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 10px;
    overflow: hidden;
    background-color: #12388b;
    top: 0;
    display: flex;
    justify-content: center;
}


li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0055ff;
}

.active {
    background-color: #0a0094;
}



#canvas {
    display: block;
    width: 100%;
    height: 500px;
    /* 뷰포트의 높이에 맞게 설정합니다. */
}


#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;

}

#map {
    flex: 1;
    height: 400px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    margin-top: 130px;

    margin-right: 20px;
    margin-bottom: 150px;
    /* Increase the right margin as per your preference */
}

#roadview {
    flex: 1;
    height: 400px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    margin-top: 130px;

    margin-left: 20px;
    margin-bottom: 150px;

    /* Increase the left margin as per your preference */
}

#table-container {
    flex: 1;
    display:inline-block;
    margin-top: 100px;

}

#teamrank {
    flex: 1;
    margin-top: 100px;

}

#playerrank {
    flex: 1;
    margin-top: 100px;


}


.ranktable {
    text-align: center;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;

}

.ranktd {
    padding: 10px;
    background-color: #eee;
}

.rankth {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.myrank {
    padding: 10px;
    background-color: #90d1ff;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#cvs {
    margin-bottom: 100px;
}

